<div ng-repeat="article in articles">
    <div class="articles-item">
        <a ng-href="/article/{{article._id}}" class="articles-title">
        {{article.title}}
        </a>
        <div class="articles-summary">
          {{ article.content | strip_tags | truncate: 200 }}
        </div>
        <span am-time-ago="article.created_at"></span>
    </div>
    <hr/>
</div>

<div class="pagination">
    <a type="button" class="btn btn-default" ng-href="/articles?page={{page - 1}}">
        Prev Page
    </a>
    <a type="button" class="btn btn-default" ng-href="/articles?page={{page + 1}}">
        Next Page
    </a>
</div>

<br>
<div>
    {{message}}
</div>

<form ng-submit="submitArticle(article)" accept-charset="utf-8">
    <input type="text"  ng-model="article.title"/>
    <textarea ng-model="article.content"></textarea>
    <p><input type="submit" value="Continue &rarr;"/></p>
</form>
