<div ng-repeat="article in articles">
  <div class="media">
    <a class="media-left" ng-href="">
      <img src=""/>
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <a ng-href="/article/{{article._id}}">
        {{article.title}}
        </a>
      </h4>
      <!--- TODO Write content preview here. -->
    </div>
  </div>
</div>

<a href="/articles?page={{page - 1}}">prev page</a>
<a href="/articles?page={{page + 1}}">next page</a>
<div>
  {{message}}
</div>

<form ng-submit="submitArticle(article)" accept-charset="utf-8">
  <input type="text"  ng-model="article.title"/>
  <textarea ng-model="article.content"></textarea>
  <p><input type="submit" value="Continue &rarr;"/></p>
</form>
