<div class="media" ng-repeat="article in articles">
    <a class="media-left" ng-href="">
        <span class="glyphicon glyphicon-tree-deciduous"></span>
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            <a ng-href="/article/{{article._id}}">
            {{article.title}}
            </a>
            <span am-time-ago="article.created_at"></span>
        </h4>
        <div btf-markdown="article.content | truncate:200 | strip_tags"></div>
    </div>
    <hr/>
</div>

<div class="pagination">
    <a type="button" class="btn btn-default" ng-href="/articles?page={{page - 1}}">
        Prev Page
    </a>
    <a type="button" class="btn btn-default" ng-href="/articles?page={{page + 1}}">
        Next Page
    </a>
</div>

<br>
<div>
    {{message}}
</div>

<form ng-submit="submitArticle(article)" accept-charset="utf-8">
    <input type="text"  ng-model="article.title"/>
    <textarea ng-model="article.content"></textarea>
    <p><input type="submit" value="Continue &rarr;"/></p>
</form>
