body {
  background: #213430;
  font-size: 100%;
}

/* Add transition effect to link. */
:root a {
  color: #50BE71;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

/* Customize the navigation bar */
nav[role=navigation] {
  height: 90px;
  background: rgba(255, 255, 255, 0.98);
}
nav[role=navigation] > div.warp {
  padding: 20px;
}
nav[role=navigation] a.navbar-brand {
  color: white;
  background: #50BE71 !important;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  font-size: 33px;
  z-index: 99;
  margin-left: 0px !important;
}
nav[role=navigation] a.navbar-brand:hover {
  color: white;
  border-radius: 25px;
}
nav[role=navigation] div#navbar {
  display: flex !important;
}
nav[role=navigation] ul.nav.navbar-nav {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
nav[role=navigation] ul.nav.navbar-nav > li {
  float: right;
}
nav[role=navigation] ul.nav.navbar-nav.navbar-right > li {
  float: left;
}

/* Customize the content layout */
div.container[role=content] {
  padding-top: 120px;
  background-color: #FBFBFB;
}

/* Customize the footer layout */
footer {
  height: 80px;
  padding: 20px 0;
  display: flex !important;
}
footer a.navbar-brand {
  color: white;
  background: #6B807C !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center;
  border-radius: 4px;
  font-size: 25px;
  float: none;
  padding: 10px 10px;
}
footer a.navbar-brand:hover {
  border-radius: 30px;
}
footer ul.nav.navbar-nav {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}
footer ul.nav.navbar-nav > li {
  float: right;
}
footer ul.nav.navbar-nav.navbar-right > li {
  float: left;
}

/* Customize the default button */
.btn-default {
  font-weight: 300 !important;
  padding: 10px 40px;
  border-color: #50BE71;
  background-color: rgba(0, 0, 0, 0);
}
.btn-default:hover {
  color: white;
  background-color: #50BE71;
}

/* Define the pagination style */
.pagination {
  width: 100%;
  text-align: center;
}
.pagination > a {
  margin: 0 5px;
}
