<!DOCTYPE html>
<html lang="en" ng-app="specialBlogApp">
    
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Special Blog</title>
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="/components/angular-loading-bar/src/loading-bar.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="http://localhost:3000/livereload.js"/></script>
        <script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/components/angular/angular.js"></script>
        <script type="text/javascript" src="/components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="/components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/components/angular-sanitize/angular-sanitize.js"></script>
        <script type="text/javascript" src="/components/showdown/src/showdown.js"></script>
        <script type="text/javascript" src="/components/angular-markdown-directive/markdown.js"></script>
        <script type="text/javascript" src="/components/angular-loading-bar/src/loading-bar.js"></script>
        <script type="text/javascript" src="components/moment/moment.js"></script>
        <script type="text/javascript" src="components/angular-moment/angular-moment.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/filters.js"></script>
        <script type="text/javascript" src="/js/services/articles.js"></script>
        <script type="text/javascript" src="/js/controllers/articles.js"></script>
        <script type="text/javascript" src="/js/controllers/article.js"></script>
    </head>
    
    <body>
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container warp">
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-href="/#/articles">
                                Articles
                            </a>
                        </li>
                        <li>
                            <a href="#contact">
                                Contact
                            </a>
                        </li>
                    </ul>
                    <a class="navbar-brand" href="#">
                        S
                    </a>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="../navbar/">
                                Works
                            </a>
                        </li>
                        <li>
                            <a href="../navbar-static-top/">
                                About
                            </a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <div ng-view class="container" role="content">
        </div>

        <footer class="footer">

            <ul class="nav navbar-nav">
                <li>
                    <a href="../navbar/">
                        Weixin
                    </a>
                </li>
            </ul>

            <a class="navbar-brand" href="#">
                S
            </a>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="mailto:specialcyci@gmail.com">
                        Email
                    </a>
                </li>
            </ul>

        </footer>

    </body>

</html>
